{
"branches": ['main'],

"plugins": ['@semantic-release/commit-analyzer', '@semantic-release/release-notes-generator', '@semantic-release/github']
  "plugins": [
    "commit-analyzer-fail-on-no-release"
   ]
}